.contactForm {
  display: inline;
}
.contactForm__container {
  padding: 15px 15px;
  border-radius: 50px;
  border: solid 2px rgb(173, 137, 137);
  background-color: rgba(255, 216, 115, 0.3);
  max-width: 450px;
  margin: auto;
}
.contactForm__item{
	height: 90px;
}
.contactPage_alert{
	padding: 10px;
}
.contactForm__firstName {
}
.contactPage__firstName_label {
}
.contact__form_input {
	margin-top: 10px;
	height: 30px;
	width: 100%;
}

.contactPage__firstName_alert{
	
}

.contactPage__shureName {
}
.contactPage__shureName_label {
}
.contactPage__email {
}
.contactPage__description {
	height: 180px;
}
.contactPage__description_input{
	height: 100px;
}