<div class="commodity" [style.border-color]="getDiscountColor()">
	<p class="commodity__discount" [style.background-color]="getDiscountColor()">{{housingLocation.discount}}%</p>
  <img
    class="commodity__photo"
    [src]="housingLocation.imgUrl"
    alt="{housingLocation.imgUrl}"
  />
  <h2 class="commodity__name">{{ housingLocation.name }}</h2>
  <p class="commodity__description">
    {{ housingLocation.description | descriptionLimit }} 
  </p>
  <p class="commodity__price_uah"><b>Price USA:</b> {{ housingLocation.price }} <b> ₴ </b></p>
	<p class="commodity__price_eur">
		<b>Price EUR:</b> {{ (housingLocation.price | currencyConversion: exchangeRate).toFixed(2) }} <b> € </b>
	</p>
	<a [routerLink]="['/details-page', housingLocation.id]">Learn More</a>
</div>
