.commodity {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 25px;
	border-radius: 15px; 
	border: 5px solid red;
	display: flex;
	flex-direction: column;
}

.commodity__discount{
	max-width: 40px;
	border-radius: 50%;
	padding: 30px;
	color: white;
	font-size: 24px;
	position: absolute;
	margin: 0;
}

.commodity__photo {	
	max-width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.commodity__description {
	height: 100%;
}