.details__page_container {
	display: flex;
	align-items: center;
	margin-top: 50px;
	gap: 30px;
}
.details__page_img {
	width: 50%;
}
.details__page_data {
	max-width: 45%;
}
.details__page_name {
	font-size: 36px;
	margin: 0;
}
.details__page_description {
}
.details__page_price{
	font-size: 18px;
	font-weight: 800;
}
.page_price{
	margin: 5px auto;
}
.details__page_price-euro {
}
.details__page_price-usd {
}
.details__page_ranking {
	margin-bottom: 5px;
}
.ranking__stars {
}
.ranking__links {
	display: flex;
	justify-content: space-between;
}
.ranking__links {
	display: flex;
	justify-content: space-between;
}
.ranking__read-reviews_link{	
}
.ranking__write-reviews_link{}
.reviews_link:hover  {
	color: var(--hover-color);
}
.details__page_color {
	margin: 15px auto;
}
.details__page_color-label{

}
.details__page_color-select{

}
.label__object{
	font-size: 18px;
	font-weight: 800;
}
.select__object{
	margin-top: 5px;
	width: 100%;
}
.details__page_size {
}
.details__page_availbility {
}
.details__page_quantity {
	width: 30%;
	display: flex;
	flex-direction: column;
}
.quantity__label{
	
}
.details__page_buttons {
}
.details__page_add-to-card {
}
.material-symbols-outlined {
}
.add-to-card__icon {
}
.add-to-card__name {
}
.details__page_add-to-wish-list {
}
.add-to-wish-list__name {
}